#mainMenu {
  position: relative;
}

#mainMenu > .divmain > div {
  display: none; /* Hide submenu items by default */
  position: absolute;
  top: 100%; /* Position them below the mainMenu */
  left: 20px; /* Align them with the left edge of mainMenu */
  background-color: #fff; /* Background color for submenu */
  border: 1px solid #ccc; /* Border for submenu */
  padding: 5px; /* Adjust padding as needed */
}

#mainMenu:hover > .flex.items-center > div {
  display: block; /* Show submenu items when mainMenu is hovered */
}
